<header class="header">
	<div class="container">
		<div class="header-body">
			<div class="header-body__logo">
				<img src="./img/logo.svg" alt="">
			</div>
			<div class="header-body__address">
				<img src="./img/icons/address.svg" alt="">
				Автомат №1, г Воронеж, ул. 45 Стрелковой дивизии, 111
			</div>
			<div class="header-body__phone">
				<img src="./img/icons/phone.svg" alt="">
				8 (900) 000-99-09
			</div>
			<a href="" class="header-body__support">
				<img src="./img/icons/question.svg" alt="">
				Помощь
			</a>
			<div class="header-body__lang">
				<div class="header-body__lang-selected">
					<img src="./img/icons/flag_of_russia.png" alt="">
					Ru
				</div>
				<div class="header-body__lang-list">
					<a href="" class="active">
						Ru
					</a>
					<a href="">
						En
					</a>
				</div>
			</div>
		</div>
	</div>
</header>